.conteudo-principal {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--fundoBackground);
  align-items: center;
  justify-content: center;
  display: flex;
}

.conteudo {
  border-radius: 0.9375rem;
  background: var(--fundoConteudo);
  padding: 3.125rem 0rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 39.25rem;
  transition: 0.15s ease-in-out;
}

.info-sorteio {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.info-sorteio > .titulo {
  color: var(--corLeitura);
  font-weight: 700;
  font-size: 1.75rem;
  letter-spacing: 0.06125rem;
}

.info-sorteio > .subtitulo {
  background: var(--vermelhoDegrade);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 1.625rem;
}

.info-sorteio > .interacao > .numero-minimo,
.numero-maximo {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 1.875rem;
}

.info-sorteio > .interacao > .numero-minimo > .minimo,
.maximo {
  color: var(--corLeitura);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.625rem;
  letter-spacing: 0.01rem;
}

.barra-preenchimento {
  color: var(--corLeitura);
  font-weight: 700;
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: 0.0125rem;
  background: var(--barraPreenchimento);
  border-radius: 0.9375rem;
  height: 3.0625rem;
  width: 33rem;
}

.button {
  margin-top: 1.875rem;
  color: var(--corLeitura);
  font-weight: 600;
  width: 33rem;
  height: 3.0625rem;
  text-align: center;
  font-size: 1.25rem;
  background: var(--vermelhoDegrade);
  letter-spacing: 0.0125rem;
  border-radius: 0.9375rem;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}
