@import "./configGeral.css";
@import "./resposivo.css";
@import "./animacoes.css";

.conteudo-principal {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--fundoBackground);
  align-items: center;
  justify-content: center;
  display: flex;
}

button-sorteio-1 {
  margin-top: 30px;
  color: var(--corLeitura);
  font-weight: 600;
  width: 8rem;
  height: 3.0625rem;
  text-align: center;
  font-size: 1.25rem;
  background: var(--branco_degradePrimario);
  letter-spacing: 0.0125rem;
  border-radius: 0.9375rem;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.conteudo {
  border-radius: 0.9375rem;
  background: var(--fundoConteudo);
  padding: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 628px;
  transition: 0.15s ease-in-out;
}

.info-sorteio {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.info-sorteio > .titulo {
  color: var(--corLeitura);
  font-weight: 700;
  font-size: 1.75rem;
  letter-spacing: 0.06125rem;
}

.info-sorteio > .subtitulo {
  background: var(--vermelhoDegrade);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 1.625rem;
}

.info-sorteio > .interacao > .numero-minimo,
.numero-maximo {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 30px;
}

.info-sorteio > .interacao > .numero-minimo > .minimo,
.maximo {
  color: var(--corLeitura);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 0.01rem;
}

.barra-preenchimento {
  color: var(--corLeitura);
  font-weight: 700;
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: 0.0125rem;
  background: var(--barraPreenchimento);
  border-radius: 0.9375rem;
  height: 3.0625rem;
  width: 33rem;
}

.button {
  margin-top: 30px;
  color: var(--corLeitura);
  font-weight: 600;
  width: 33rem;
  height: 3.0625rem;
  text-align: center;
  font-size: 1.25rem;
  background: var(--vermelhoDegrade);
  letter-spacing: 0.0125rem;
  border-radius: 0.9375rem;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.area-sorteio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.area-sorteio > .conteudo-sorteio {
  width: 23rem;
  height: 25rem;
  display: flex;
  flex-direction: column-reverse;
  background: var(--vermelhoDegrade);
  align-items: center;
  justify-content: center;
  border-radius: 0.9375rem;
}

.resultado-sorteio {
  font-size: 8rem;
  font-weight: 600;
  letter-spacing: 0.08rem;
  background: var(--branco_degradePrimario);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  position: absolute;
}

.numero-sorteado {
  display: flex;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.94rem;
  background: var(--branco_degradeSecundario);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 360px;
  position: relative;
  z-index: 1;
}

.historico {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  flex-direction: column;
}

::-webkit-scrollbar {
  background-color: #1b1b1b;
  width: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #5b5b5b;
  border-radius: 5px;
}

@media (min-width: 1900px) {
  .area-sorteio {
    position: fixed;
  }

  .historico {
    margin-top: 800px;
  }
}

@media (max-width: 655px) {
  .conteudo {
    width: 28.75rem;
  }

  .barra-preenchimento,
  .button {
    width: 22rem;
  }
}

@media (max-width: 500px) {
  .conteudo {
    width: 19.375rem;
  }

  .info-sorteio > .titulo {
    font-size: 20px;
  }

  .info-sorteio > .subtitulo {
    font-size: 19px;
  }

  .barra-preenchimento,
  .button {
    width: 15rem;
  }

  .modal-sorteio > .fechar {
    position: absolute;
    top: 430px;
  }

  .area-sorteio > .conteudo-sorteio {
    width: 20rem;
  }
}

@media (max-height: 641px) {
  .historico {
    margin-top: 10px;
  }
}

@media (max-width: 420px) {
  .conteudo {
    width: 17.5rem;
    padding: 30px 10px;
  }

  .area-sorteio > .conteudo-sorteio {
    width: 14.375rem;
    height: 18.75rem;
  }

  .conteudo-sorteio > .resultado-sorteio {
    font-size: 7rem;
  }

  .numero-sorteado {
    margin-top: 280px;
    font-size: 0.75rem;
  }
}

.tituloHistorico {
  color: var(--corLeitura);
  display: flex;
  padding: 30px;
  justify-content: center;
  font-size: 1.25rem;
}

.conteudo-historico {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
}

.conteudo-historico > .resultado-valor {
  display: flex;
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 50%;
  background-color: var(--barraPreenchimento);
  color: var(--corLeitura);
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--filtroModal);
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fechar {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.97);
  right: 10px;
  top: 5px;
  cursor: pointer;
  background-image: url("/projeto-arsenalcar/close-circle-svgrepo-com\ 1.png");
}

.flex-direction {
  flex-direction: column;
}

.modal-container.mostrar {
  display: flex;
}

.mostrar .conteudo-sorteio {
  animation: modal 0.3s;
}

.button-sorteio {
  margin-top: 30px;
  color: var(--corLeitura);
  font-weight: 600;
  width: 8rem;
  height: 3.0625rem;
  text-align: center;
  font-size: 1.25rem;
  background: var(--vermelhoDegrade);
  letter-spacing: 0.0125rem;
  border-radius: 0.9375rem;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}
