@import "./configGeral.css";
@import "./resposivo.css";
@import "./animacoes.css";

.conteudo-principal {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--fundoBackground);
  align-items: center;
  justify-content: center;
  display: flex;
}

.conteudo {
  border-radius: 0.9375rem;
  background: var(--fundoConteudo);
  padding: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 628px;
}

.info-sorteio {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.info-sorteio > .titulo {
  color: var(--corLeitura);
  font-weight: 700;
  font-size: 1.75rem;
  letter-spacing: 0.06125rem;
}

.info-sorteio > .subtitulo {
  background: var(--vermelhoDegrade);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 1.625rem;
}

.info-sorteio > .interacao > .numero-minimo,
.numero-maximo {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 30px;
}

.info-sorteio > .interacao > .numero-minimo > .minimo,
.maximo {
  color: var(--corLeitura);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 0.01rem;
}

.barra-preenchimento {
  color:var(--corLeitura);
  font-weight: 700;
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: 0.0125rem;
  background: var(--barraPreenchimento);
  border-radius: 0.9375rem;
  height: 3.0625rem;
  width: 33rem;
}

.barra-preenchimento:focus {
  outline: 0;
  transition: 0.3s;
  border-radius: 0;
  border-bottom: 2px solid var(--vermelhoPrincipal);
  background: transparent;
}

.button {
  margin-top: 30px;
  color: var(--corLeitura);
  font-weight: 600;
  width: 33rem;
  height: 3.0625rem;
  text-align: center;
  font-size: 1.25rem;
  background: var(--vermelhoDegrade);
  letter-spacing: 0.0125rem;
  border-radius: 0.9375rem;
}

.area-sorteio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.area-sorteio > .conteudo-sorteio {
  width: 23rem;
  height: 25rem;
  display: flex;
  flex-direction: column-reverse;
  background: var(--vermelhoDegrade);
  align-items: center;
  justify-content: center;
  border-radius: 0.9375rem;
}

.resultado-sorteio {
  font-size: 8rem;
  font-weight: 600;
  letter-spacing: 0.08rem;
  background: var(--branco_degradePrimario);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  position: absolute;
}

.numero-sorteado {
  display: flex;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.94rem;
  background: var(--branco_degradeSecundario);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 360px;
  position: relative;
  z-index: 1;
}

.historico {
  display: none;
  margin-top: 30px;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 1900px) {
  .area-sorteio {
    position: fixed;
  }

  .historico {
    margin-top: 850px;
  }
}



.tituloHistorico {
  color: var(--corLeitura);
  display: flex;
  padding: 30px;
  justify-content: center;
  font-size: 1.25rem;
}

.conteudo-historico {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.conteudo-historico > .resultado-valor {
  display: flex;
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 50%;
  background-color: var(--barraPreenchimento);
  color: var(--corLeitura);
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--filtroModal);
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-direction {
  flex-direction: column;
}

.modal-container.mostrar {
  display: flex;
}

.mostrar .conteudo-sorteio {
  animation: modal .3s;
}

.button-sorteio {
  margin-top: 30px;
  color: var(--corLeitura);
  font-weight: 600;
  width: 8rem;
  height: 3.0625rem;
  text-align: center;
  font-size: 1.25rem;
  background: var(--vermelhoDegrade);
  letter-spacing: 0.0125rem;
  border-radius: 0.9375rem;
}