.area-sorteio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.area-sorteio > .conteudo-sorteio {
  width: 23rem;
  height: 25rem;
  display: flex;
  flex-direction: column-reverse;
  background: var(--vermelhoDegrade);
  align-items: center;
  justify-content: center;
  border-radius: 0.9375rem;
}

.resultado-sorteio {
  font-size: 8rem;
  font-weight: 600;
  letter-spacing: 0.08rem;
  background: var(--branco_degradePrimario);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  position: absolute;
}

.suspense-number {
  animation: animacaoNumbers 3s ease-in-out;
}

.numero-sorteado {
  display: flex;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.94rem;
  background: var(--branco_degradeSecundario);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 22.5rem;
  position: relative;
  z-index: 1;
}

.historico {
  display: flex;
  margin-top: 1.875rem;
  justify-content: center;
  flex-direction: column;
}

::-webkit-scrollbar {
  background-color: var(--fundoScrollbar);
  width: 0.313rem;
  border-top-right-radius: 0.313rem;
  border-bottom-right-radius: 0.313rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--barraScrollbar);
  border-radius: 0.313rem;
}

.tituloHistorico {
  color: var(--corLeitura);
  display: flex;
  padding: 1.25rem;
  justify-content: center;
  font-size: 1.25rem;
}

.conteudo-historico {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
}

.conteudo-historico > .resultado-valor {
  display: flex;
  width: 3.125rem;
  height: 3.125rem;
  margin: 0.313rem;
  border-radius: 50%;
  background-color: var(--barraPreenchimento);
  color: var(--corLeitura);
  font-weight: 600;
  align-items: center;
  justify-content: center;
}

.modal-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--filtroModal);
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fechar {
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  background-color: transparent;
  right: 0.625rem;
  top: 0.313rem;
  cursor: pointer;
  background-image: url("/projeto-arsenalcar/img/close-circle-svgrepo-com\ 1.png");
}

.flex-direction {
  flex-direction: column;
}

.modal-container.mostrar {
  display: flex;
}

.mostrar .conteudo-sorteio {
  animation: modal 0.3s;
}

.button-sorteio {
  margin-top: 1.875rem;
  color: var(--corLeitura);
  font-weight: 600;
  width: 8rem;
  height: 3.0625rem;
  text-align: center;
  font-size: 1.25rem;
  background: var(--vermelhoDegrade);
  letter-spacing: 0.0125rem;
  border-radius: 0.9375rem;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}
