@media (max-width: 320px) {
  .conteudo {
      width: 17.375rem;
  }

@media (max-width: 355px) {
  .fechar {
    display: flex;
    width: 2.125rem;
    height: 2.125rem;
  }
}
}

@media (max-width: 440px) {
  .conteudo {
    width: 17.5rem;
    padding: 1.875rem 0.625rem;
  }

  .area-sorteio > .conteudo-sorteio {
    width: 14.375rem;
    height: 18.75rem;
  }

  .conteudo-sorteio > .resultado-sorteio {
    font-size: 7rem;
  }

  .numero-sorteado {
    margin-top: 17.5rem;
    font-size: 0.75rem;
  }
}


@media (max-height: 641px) {
  .historico {
    margin-top: 0.625rem;
  }
}

@media (max-width: 655px) {
  .conteudo {
    width: 19.375rem;
}

  .barra-preenchimento, .button-modal {
    width: 15rem;
}

.info-sorteio > .titulo {
  font-size: 1.35rem;
}

.info-sorteio > .subtitulo {
  font-size: 1.38rem;
}
}

@media (min-width: 1900px) {
  .area-sorteio {
    position: fixed;
  }

  .historico {
    margin-top: 50rem;
  }
}