@media (min-width: 1900px) {
  .area-sorteio {
    position: fixed;
  }

  .historico {
    margin-top: 50rem;
  }
}

@media (max-width: 655px) {
  .conteudo {
    width: 28.75rem;
  }

  .barra-preenchimento,
  .button {
    width: 22rem;
  }
}

@media (max-width: 500px) {
  .conteudo {
    width: 19.375rem;
  }

  .info-sorteio > .titulo {
    font-size: 1.25rem;
  }

  .info-sorteio > .subtitulo {
    font-size: 1.188rem;
  }

  .barra-preenchimento,
  .button {
    width: 15rem;
  }

  .modal-sorteio > .fechar {
    position: absolute;
    top: 26.875rem;
  }

  .area-sorteio > .conteudo-sorteio {
    width: 20rem;
  }
}

@media (max-height: 641px) {
  .historico {
    margin-top: 0.625rem;
  }
}

@media (max-width: 440px) {
  .conteudo {
    width: 17.5rem;
    padding: 1.875rem 0.625rem;
  }

  .area-sorteio > .conteudo-sorteio {
    width: 14.375rem;
    height: 18.75rem;
  }

  .conteudo-sorteio > .resultado-sorteio {
    font-size: 7rem;
  }

  .numero-sorteado {
    margin-top: 17.5rem;
    font-size: 0.75rem;
  }
}

@media (max-width: 355px) {
  .fechar {
    display: flex;
    margin: 0.625rem 0rem 0.625rem 0rem;
    position: relative;
  }
}

@media (min-width: 2049px) {
  .fechar {
    display: flex;
    right: -810px;
    top: -210px;
  }

  .area-sorteio > .conteudo-sorteio {
    width: 26rem;
    height: 28rem;
  }

  .numero-sorteado {
    margin-top: 25.5rem;
  }
}

.button-sorteio {
  width: 9rem;
  font-size: 1.25rem;
}

.conteudo-historico > .resultado-valor {
  width: 4.125rem;
  height: 4.125rem;
  font-size: 20px;
}

.resultado-sorteio {
  font-size: 9rem;
}

@media (min-height: 1152px) {
  .fechar {
    top: -310px;
  }
}

@media (min-height: 1282px) {
  .fechar {
    top: -370px;
  }
}

@media (min-width: 2732px) {
  .fechar {
    right: -1150px;
  }
}

@media (min-height: 1536px) {
  .fechar {
    top: -495px;
  }
}
